{% extends "base.html" %}
{% block title %}Ticket Scanner{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height:75vh;">
  <div class="card shadow p-4 text-center" style="max-width: 500px; width:100%;">

    <h2 class="mb-4">Metro Ticket Scanner</h2>

    <a href="{% url 'scanner:offline' %}" class="btn btn-primary w-100 mb-3">Purchase Offline Ticket</a>

    <a href="{% url 'scanner:scanner' %}" class="btn btn-success w-100 mb-3">Scan Existing Ticket</a>

  </div>
</div>
{% endblock %}
