services:
  web:
    build: .
    container_name: metroapp_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:17
    container_name: metroapp_db
    restart: always
    environment:
      POSTGRES_DB: metrodb
      POSTGRES_USER: metrouser
      POSTGRES_PASSWORD: metropass
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"

volumes:
  postgres_data:
