{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="card shadow p-4 mb-4">
  <h3>Hello, <strong>{{ passenger.user.username }}</strong></h3>
  <p class="fs-5">Current Balance: <strong>${{ passenger.bank_balance }}</strong></p>
</div>


<div class="card shadow p-4 mb-4">
  <h4>Your Tickets</h4>
  {% if tickets %}
    <table class="table table-striped mt-3">
    <thead>
      <tr>
      <th>From</th>
      <th>To</th>
      <th>Cost</th>
      <th>Status</th>
      <th>ID</th>
      </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
    <tr>
      <td>{{ ticket.start_station.name }}</td>
      <td>{{ ticket.destination.name }}</td>
      <td>${{ ticket.cost }}</td>
      <td>{{ ticket.get_status_display }}</td>
      <td>{{ ticket.id }}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
    {% else %}
    <p>No tickets found.</p>
  {% endif %}
</div>


<div class="d-flex gap-3">
  <a href="{% url 'purchase' %}" class="btn btn-primary">Purchase New Ticket</a>
  <a href="{% url 'money' %}" class="btn btn-success">Add Money</a>
  <form action="{% url 'passenger-logout' %}" method="post" class="d-inline">
  {% csrf_token %}
  <button class="btn btn-danger">Logout</button>
  </form>
</div>
{% endblock %}