{% extends "base.html" %}

{% block title %}Metro App{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center gap-3">
    <form action="{% url 'passenger-login' %}" method="get">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">Passenger Login</button>
    </form>

    <a href="{% url 'scanner:index' %}" class="btn btn-outline-secondary btn-lg">Ticket Scanner</a>
    <a href="/admin/login/" class="btn btn-outline-dark btn-lg">Admin Login</a>
    <a href="signup/" class="btn btn-success btn-lg">Sign Up</a>
</div>
{% endblock %}
